.question-label {
  padding-bottom: 10px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
  &_title {
    display: flex;
    align-items: center;
    width: 60%;
    text-align: start;
    &_name {
      background-color: "#f5f5f5";
      font-size: 14;
      font-weight: 400;
    }
  }
  &_type {
    width: 40%;
    text-align: end;
  }
}

.question-textfield {
  padding-right: 1%;
  padding-left: 1%;
}

.question {
  &_number-items {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    &_item {
      background-color: #ebebeb;
      border-radius: 20px;
      padding: 10px 15px 10px 15px;
    }
  }
}
