.question-label {
    &_title {
        width: 60%;
        text-align: start;
    }
    &_type {
        width: 40%;
        text-align: end;
    }
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.question {
    &_number-items {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        &_item {
            background-color: #ebebeb;
            border-radius: 20px;
            padding: 10px 15px 10px 15px;
        }
    }
}